<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>9c-tx-watcher</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>9c-tx-watcher</h1>

        <!-- Display Addresses -->
        <div class="addresses">
            <div class="header">Addresses:</div>
            <div id="addresses-anchor"></div>
        </div>


        <!-- Display Next Nonce -->
        <div class="next-nonce">
            <div class="header">Next Tx Nonce:</div>
            <div id="next-nonce-anchor"></div>
        </div>


        <!-- Transactions -->
        <div class="transactions">
            <div id="staged-transactions-anchor"></div>
            <div id="all-transactions-anchor"></div>
        </div>


    </body>
    <script src="scripts/index.js"></script>
</html>
