@import "../../../styles/utils.scss";
.td {
  &.status {
    font-weight: bold;
    &.red {
      color: $red;
    }
    &.green {
      color: $green;
    }
    &.orange {
      color: $orange;
    }
    &.blue {
      color: $blue;
    }
    &.purple {
      color: $purple;
    }
  }
}
