@import "../../../styles/utils.scss";
.td {
  vertical-align: middle;
  pre {
    margin: 0;
  }
  &.status {
    font-weight: bold;
    &.red {
      color: $red;
    }
    &.green {
      color: $green;
    }
    &.orange {
      color: $orange;
    }
    &.blue {
      color: $blue;
    }
    &.purple {
      color: $purple;
    }
  }
}
